<div class="container">
    <div class="header">
        <h2>Filter</h2>
        <div class="row align-items-start">
            <div class="col">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="inputBox" id="title" [(ngModel)]="title" (ngModelChange)="filterValueChanges($event)">
            </div>
            <div class="col">
                <label for="releaseyr" class="form-label">Release Year</label>
                <input type="number" class="inputBox" id="releaseyr" [(ngModel)]="release_date" (ngModelChange)="filterValueChanges($event)">
            </div>
        </div>
    </div>
    <div class="listing">
        <div class="list-group" *ngIf="(allList$ | async) as movies">
            <div *ngFor="let movie of movies" class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{movie.title}}</h5>
                <div><a [routerLink]="['/movie-details', movie.id]">Details</a></div>
              </div>
              <div class="row footF">
                <div class="col-md-3">Release Date: {{movie.release_date}}</div>
                <div class="col-md-3">Budget: ${{movie.budget}}million</div>
                <div class="col-md-3">Duration: {{movie?.duration | formatHours}}</div>
              </div>
            </div>
            <div class="list-group-item list-group-item-action" *ngIf="!movies.length">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">No Movies Listed</h5>
                  </div>
            </div>
    </div>
</div>
